* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  list-style: none;
}

:root {
  --letras: #45ff64;
  --fondos: #111827;
  --fimag: #0e1525;
}
body {
  background-color: var(--fondos);
  background-image: url("/assets/image/fondo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

/* navigator */
nav{
  height: 80px;
  width: 100%;
  background: transparent ;
}

label.logo{
  font-size: 35px;
  font-weight: bold;
  color: var(--letras);
  padding: 0 100px;
  line-height: 80px;
}

nav ul{
  float: right;
  margin-right: 40px;
}

nav li{
  display: inline-block;
  margin: 0 8px;
  line-height: 80px;
  color: #fff;
}

nav li:hover{
  color:var(--letras);
}
nav a{
  color:var(--letras);
  font-size: 18px ;
  text-transform: uppercase ;
  border: 1px solid transparent;
  padding: 7px 10px;
  border-radius: 3px;
  cursor: pointer;
}

a.active,a:hover{
  color:  var(--letras);
  border: 1px solid var(--letras);
  transition: .5s;
  text-decoration: none;

}
/*barras*/
nav #toggle{
  color:white;
  font-size: 30px;
  float: right;
  margin-top: 40px;
  margin-right: 40px;
  cursor:pointer;
  display: none;
}
#toggle.active{
  background: #000;
}

#toggle::before{
  content: '';
  position: absolute;
  width: 28px;
  height: 2px;
  background: #fff;
  transition: 0.2s;
  transform: translateY(-10px);
  box-shadow: 0 10px 0 #fff;

}

#toggle.active::before{
  transform: translateY(0px) rotate(45deg);
  box-shadow: 0 0px 0 #fff;


}
#toggle::after{
  content: '';
  position: absolute;
  width: 28px;
  height: 2px;
  background: #fff;
  transition: 0.2s;
  transform: translateY(10px)
}

#toggle.active::after{
  transform: translateY(0px) rotate(-45deg);

}
hr {
  background: #c0c0c0;
}
/*primera seccion*/
.jumbotron {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container__one {
  width: 40vw;
  text-align: center;
  margin: 5px 10px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-clamp: 2;
  overflow: hidden;

}
.container__one p {
  color: var(--letras);
}

.container__one Input {
  padding: 8px;
  width: 90%;
  outline: none;
  background: transparent;
  color: var(--letras);
  border: none;
}

.container__one Input::placeholder {
  color: var(--letras);
}

.container__one Input :focus {
  color: var(--letras);
}

.container__one .neon {
  font-size: 60px;
  color: #fff;
  text-shadow: 0 0 10px var(--letras), 0 0 15px var(--letras),
    0 0 20px var(--letras), 0 0 30px var(--letras);
}

.container__two {
  position: relative;
  transform-style: preserve-3d;
  perspective: 1000px;
  width: 50vw;
  height: 60vh;
  margin: 15px;
}

.container__two img {
  position: absolute;
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
  transition: 2s;
}

.container__two img:nth-child(2) {
  transform: rotateY(180deg);
}
.container__two:hover img:nth-child(2) {
  transform: rotateY(0deg);
}

.container__two:hover img:nth-child(1) {
  transform: rotateY(-180deg);
}

/*card*/
.titulo{
  text-align: center;
  color: var(--letras);
  margin-bottom: 15px;

}
.container {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
 
}

.card {
  position: relative;
  background: transparent;
  border: none;
  margin-bottom: 15px;
}

.container .card .face {
  width: 320px;
  height: 215px;
}

.container .card .face__one {
  position: relative;
  background: #111827;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(100px);
  transition: 1s;
  
}

.container .card:hover .face__one {
  transform: translateY(0);
}

.container .card .face__one .content {
  opacity: 0.2;
  transition: 0.5s;
}

.container .card:hover .face__one .content {
  opacity: 1;
}

.container .card .face__one .content img {
  max-width: 130px;
 padding: 10px;
 margin-left: 15px;
}
.container .card .face__one .content h3 {
  margin: 10px 0 0;
  padding: 0;
  color: var(--letras);
  text-align: center;
  font-size: 1.5em;
}

.container .card .face__two {
  position: relative;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  align-items: center;
  box-sizing: border-box;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
  transition: 1s;
  transform: translateY(-100px);
}

.container .card:hover .face__two {
  transform: translateY(0);
}

.container .card .face__two p {
  bottom: 5px;
  padding: 5px;
  color: var(--letras);
  text-align: center;
}

.container .card .face__two a {
  display: inline-block;
  text-decoration: none;
  font-weight: 900;
  color: var(--letras);
  padding: 5px;
  border: 5px solid rgba(51, 51, 51, 0.559);
  margin-left: 100px;
  top: 15px;
}

.container .card .face__two a:hover {
  background: #111827;
}
/* form */

.containerform {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
}
.containerform__two{
width: 80%;
padding: 20px;

}
.containerform h2 {
  width: 100%;
  color: var(--letras);
  text-align: center;
  margin-bottom: 10px;
  font-size: 36px;
}

.containerform .row100 {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(autofit, minmax(300px, 1fr));
}

.containerform .row100 .columna {
  position: relative;
  width: 100%;
  padding: 0 10px;
  margin: 30px 0 10px;
  transition: 0.5s;
}

.containerform .row100 .inputbox {
  position: relative;
  width: 100%;
  height: 40px;
  color: var(--letras)
}

.containerform .row100 .inputbox input,
.containerform .row100 .inputbox .textarea textarea {
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  box-shadow: none;
  border: none;
  outline: none;
  font-size: 18px;
  padding: 0 10px;
  z-index: 1;
  color: #000;
}
.containerform .row100 .inputbox .text {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 40px;
  font-size: 18px;
  padding: 0 10px;
  display: block;
  transition: 0.5s;
  pointer-events: none;
}
.containerform .row100 .inputbox input:focus + .text,
.containerform .row100 .inputbox input:valid + .text {
  top: -35px;
  left: -10px;
}
.containerform .row100 .inputbox .line {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 2px;
  background: var(--letras);
  transition: 0.5s;
  border-radius: 2px;
  pointer-events: none;
}

.containerform .row100 .inputbox input:focus ~ .line,
.containerform .row100 .inputbox input:valid ~ .line {
  height: 100%;
}

.containerform .row100 .inputbox .textarea {
  position: relative;
  width: 100%;
  height: 100px;
  padding: 10px 0;
}

.containerform .row100 .inputbox .textarea textarea {
  height: 100%;
  resize: none;
}

.containerform .row100 .inputbox textarea:focus + .text,
.containerform .row100 .inputbox textarea:valid + .text {
  top: -35px;
  left: -10px;
}

.containerform .row100 .inputbox textarea:focus ~ .line,
.containerform .row100 .inputbox textarea:valid ~ .line {
  height: 100%;
}

input[type="submit"] {
  border: none;
  padding: 7px 35px;
  cursor: pointer;
  outline: none;
  background-color: var(--letras);
  color: #000;
  font-size: 18px;
  border-radius: 2px;
}

input[type="submit"]:hover {
box-shadow: inset 0 0 10px var(--letras), 0 0 10px var(--letras);
background: rgba(0, 0, 0, 0.8);
color: var(--letras);
}

/* contenedor flexible */

.contenedor__flexible{
  width: 100%;
  height: 200px;
  box-sizing: border-box;
  display: flex;
  
}

.box{
  width: auto;
  text-align: center;
  line-height: 200px;
  flex-grow: 1 ;
  transition: 0.5s;
  font-size: 1.2em;
  color: var(--letras);
  margin-left: 15px;
}

.box img{
  width: 80%;
  height: 180px;
  
}
.box:hover{
  flex-grow: 3 ;
  max-width: 60%;
  font-size: 2em;
}

.contenedor__flexible .box:nth-child(1){
  background: transparent;
}
.contenedor__flexible .box:nth-child(2){
  background: transparent;
}
.contenedor__flexible .box:nth-child(3){
  background: transparent;
}
.contenedor__flexible .box:nth-child(4){
  background: transparent;
}
.contenedor__flexible .box:nth-child(5){
  background: transparent;
}
.contenedor__flexible .box:nth-child(6){
  background: transparent;
}
.contenedor__flexible .box:nth-child(7){
  background: transparent;
}
.contenedor__flexible .box:nth-child(8){
  background: transparent;
}
.contenedor__flexible .box:nth-child(1){
  background: transparent;
}
/* footer */
.text-center .autor{
  color: #45ff64;
  text-decoration: none;
}

/* responsive */

@media screen and (max-width: 1200px) {

  label.logo{
      font-size: 32px;
      padding-left: 60px;
  }

  nav ul{
    margin-right: 20px;
  }
  nav a{
      font-size: 17px;
  }

  .jumbotron{
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .container__one{
    width: 100vw;
  }

  .container__two{
    width: 100%;
  }
   /* card  */

 .container {
  flex-wrap: wrap;
  justify-content: center;
}

.card{
 margin: 25px;
}

}

@media screen and (max-width: 909px){
  nav{
    position: fixed;
    z-index: 10;
    background: var(--fondos);
    margin-top: -18px;
  } 
nav #toggle{
    display: block;
  
}

.jumbotron{
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

nav ul{
    position: fixed;
    width: 100%;
    height: 100%;
    background: var(--fondos) ;
    top: 80px;
    left:-100%;
    text-align: center;
    transition: all 1s;
    z-index: 10;
}

nav li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
    }
    
    nav li:hover{
      color:var(--letras);
    }
    nav a{
       font-size: 20px;
       color: var(--letras);
       cursor: pointer;
    }

    nav ul li a:hover{
      color: #45ff64;
    }
    a.activate,a:hover{
        
        color: #fff;
        border: 1px solid var(--letras);
    }

    nav ul.show{
        left: 0;
    }

    .container__one{
      width: 100vw;
      margin-top: 50px;
    }

}

@media screen and (max-width: 478px){
  .jumbotron{
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}
